{% load censor_filter %}
{% load tag1 %}
{% block title %}
Posts
{% endblock title %}

{% block content %}
<h1 xmlns="http://www.w3.org/1999/html">Всего новостей: {{posts|length}}</h1>
   <form action="" method="get">
       {# Переменная, которую мы передали через контекст, может сгенерировать нам форму с полями #}
       {{ filterset.form.as_p}}
       {# Добавим кнопку отправки данных формы #}

       <input type="submit" value="Найти" />
   </form>
   <hr>
    {% if posts %}
       <table>
           <tr>
               <td>Название</td>
               <td>Описание</td>
               <td>Дата создания поста</td>
           </tr>

           {% for post in posts %}
           <tr>
               <td>{{ post.post_head|censor_filter }}</td>
               <td>{{ post.post_text|censor_filter}}</td>
               <td>{{ post.post_date|date:'d.m.Y'  }}</td>
           </tr>
           {% endfor %}
       </table>
        {%else%}
            {{ post.post_head}}
    {% endif %}

   {# Добавляем пагинацию на страницу #}

   {# Информация о предыдущих страницах #}
   {% if page_obj.has_previous %}
       <a href="?{% url_replace page=1%}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number%}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
{% endblock content %}